# Node
node_modules/
client/node_modules/
server/node_modules/
ai_engine/venv
ai_engine/__pycache__
ai_engine/brain/__pycache__
ai_engine/brain/__init__.py
# Env
.env
.env.*
.env.local

# Build
dist
dist-ssr

# Logs
logs
*.log

# Editor
.vscode/
.idea/
.DS_Store
serviceAccountKey.json